body{
    background-color: rgb(164, 137, 190);
}
.h1-heading{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100px;
}
.change-password-container{
    border: 2px solid black;
    padding: 15px;
    background-color: white;
    width: 400px;
    margin: 10px auto;
}
.change-password{
    margin-right: 112px;
    margin-bottom: 25px;
}
.confirm-changed-password{
    margin-right: 45px;
    margin-bottom: 25px;
}
input{
    margin-bottom: 25px;
}
.inputclass{
    width: 100%;
}